/* ====author====
Name:Ashrafi Khanam
Email:ashrafikhanam.18@gmail.com
Phone:017xxxxxxxxx
Website: ashrafikhanam.com
 */

/* ======color used in template=====
    1. white- #fff
    2.black - #000
    3.social media color---facebook- #3B5998;
                        twitter -#55ACEE;
                        youtube- #bb0000;
                        dribbble-#ea4c89;
                        instagram-#125688;
 */


/*====== googleFonts: Montserrat + open sans ====
=============================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');


/* ====
Global Css
==== */
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
a{ 
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
    margin:0;padding: 0;
    text-align: center;
}

.content-right{text-align: right;}
h3{font-size: 20px;
    font-weight:900;
    padding: 0;    
}

.margin-top{
    margin-top: 52px;
}
    
/* =====
  Header
======== */
header{
    padding: 35px 0;
}
.navbar-light .navbar-nav .nav-link{ 
    position:relative;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
.nav-item{
    position:relative;
    margin: 0 10px;
    transition: all .4s ease-in-out;
    overflow: hidden;
}
.nav-item::after{
    content:"";
    position: absolute;
    width:100%;
    bottom:0;left:-100%;
    background:#000;
    height: 3px;
    opacity:0;
    transition: all .4s ease-in-out;
}
.nav-item:hover::after{
    opacity:1;
    left:-0%;
   
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,1);}


.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{padding: 0;}

/* ==============
 Banner section
================ */
.banner .banner-bg{
    position: relative;
    background: url(../images/Afrodyta-bg.png) no-repeat center center;
  background-size: cover;
  padding: 250px 0;
}
.enjoy-text::before{
    position:absolute;
    content: "Ⓒ Enjoy the pleasure";
    color:#000;
    bottom: -325px;
    left: -19px;
    text-transform: uppercase;
    transform: rotate(270deg);
}
.banner h1{
 font-size: 105px;
 text-transform: uppercase;
 color:#fff;
 text-align: center;
 font-weight: 700;
 letter-spacing: 5px;
 text-shadow: 2px 0px 8px #333;
 
}
.banner span{
    display: block;
}

/* ===================
Article One section
===================== */
.article-1{
    padding: 75px 0;
}
.article-1 h2{   
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
}
.article-1 h2 span{display:block;}
.article-1 p{  
    margin: 0;
    font-size: 18px;
    padding: 21px 0;
    text-align: justify;
}
.article-1 a{
    width:123px;
    display:block;
    overflow: hidden;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    transition: .5s ease-in-out;
}
.article-1 a::after{
    content:"";
    position: absolute;
    width:100%;
    bottom:0;left:-100%;
    background:#000;
    height: 3px;
    opacity:0;
    transition:  .5s ease-in-out;
}
.article-1 a:hover::after{
    left:0%;
    opacity:1;
}

/* ===================
Article two section
===================== */
.article-2{
    padding: 75px 0;
}
.rectangle-bg{
    background: url(../images/thin-rectangle-bg.gif) no-repeat center top;
    background-size: contain;
    background-position-y: 94px;
    background-position-x: -80px;
}
.tilt-rectangle-bg{
    background: url(../images/tilted-rectangle-bg.gif) no-repeat center bottom;
    
}
.article-2 h1 {    
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top:116px;
}
.article-2 h1  span{ 
    display:block;  
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;}
.article-2 h2{
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 42px;
    margin: 14px 0;
}
.article-2 h2 span{
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;display:block;
}
.article-2 p{  
    margin: 0;
    font-size: 18px;
    padding: 21px 0;
    text-align: justify;
}
.article-2 a{
    width:123px;
    display:block;
    overflow: hidden;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    transition: .5s ease-in-out;
}
.article-2 a::after{
    content:"";
    position: absolute;
    width:100%;
    bottom:0;left:-100%;
    background:#000;
    height: 3px;
    opacity:0;
    transition:  .5s ease-in-out;
}
.article-2 a:hover::after{
    left:0%;
    opacity:1;
}

/* ===================
Newsletter section
===================== */
.newsletter{
    padding: 75px 0;
}
.newsletter-bg{
    background: url(../images/newsletter-bg.gif) no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}
.newsletter h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0px 1px 8px  #333;}
.newsletter a {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    width: 121px;
    display: block;
    text-align: center;
    margin: 21px auto 0;
    border-radius: 14px;
    font-size: 19px;
    font-weight: 600;
}

/* ===================
Information section
===================== */
.information{
   padding: 30px 0;
}

.information ul li{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    display: inline;
    margin: 0 10px;
}
.information p{
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 42px 106px;
    line-height: 37px;
}

/* ===================
categories section
===================== */
.categories{
    padding: 75px 0;
}
.category-bg-1{
    background: url(../images/categories-pic-1.gif) no-repeat top center;
    background-size: contain;
    padding: 200px 0;
}
.category-bg-2{
    background: url(../images/categories-pic-2.gif) no-repeat top center;
    padding: 200px 0px;
    background-size: contain;
   
    
}
.category-bg-3{
    background: url(../images/categories-pic-3.gif) no-repeat top center;
    padding: 200px 0;
    background-size: contain;
  
}
.categories h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 0px 1px 8px  #333;
}

/* ===================
Article four section
===================== */
.article-4{
    padding: 0 0 75px;
}
.last-rectangle-bg{
    background: url(../images/rectangle-bg.gif) no-repeat center;  
    background-position-x: 247px;
}
.article-4 h2{
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
}
.article-4 span{
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    display:block;
}
.article-4 p{
    margin: 0;
    font-size: 18px;
    padding: 21px 0;
    text-align: justify;
    padding: 30px 0;
}
.article-4 a{
    width:123px;
    display:block;
    overflow: hidden;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    transition: .5s ease-in-out;
}
.article-4 a::after{
    content:"";
    position: absolute;
    width:100%;
    bottom:0;left:-100%;
    background:#000;
    height: 3px;
    opacity:0;
    transition:  .5s ease-in-out;
}
.article-4 a:hover::after{
    left:0%;
    opacity:1;
}

/* ============
footer section
================ */
footer{
    padding: 30px 0;
}
footer ul li{
    text-transform: uppercase;
    font-size: 20px;
    font-weight:700;
    display: inline;
    margin: 0 10px;
}
footer p{font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 42px 106px;
    line-height: 37px;
}
.social-media{text-align: center;}
.social-media   .fa {
    padding: 14px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 4px 6px;
}     
.fa:hover {
    opacity: 0.8;
    color: #fff;
    transform: rotatex(30deg);
}
.fa-facebook {
    background: #3B5998;
    color: white; }
      
.fa-twitter {
    background: #55ACEE;
    color: white;
    }
.fa-youtube {
    background: #bb0000;
    color: white;
    }
.fa-dribbble {
    background: #ea4c89;
    color: white;
    }
.fa-instagram {
    background: #125688;
    color: white;
}

/* =======================
Media Query css for mobile
========================== */
@media (min-width:320px) and (max-width:576px){
    h3 {font-size: 16px;}
    .nav-item { margin: 0 87px;}
    .banner .banner-bg{padding:55px 0;}
    .enjoy-text::before {bottom: 0px;left: 0; font-size: 9px; transform: rotate(0deg); }
    .banner h1{font-size: 30px;}
    .article-1 h2 {font-size: 37px; }
    .article-1 p{ line-height: 34px;   font-size: 16px;}
    .article-1 a{padding-bottom: 55px;}
    .article-2{ padding: 0;}
    .article-2 h1 {font-size: 50px; margin-bottom: 100px; margin-top: 85px;}
    .article-2 h1 span {font-size: 50px;}
    .article-2 h2{font-size: 37px;}
    .article-2 h2 span {font-size: 49px;}
    .article-2 p {font-size: 16px;padding: 21px 12px; text-align: right;line-height: 34px;}
    .information p{  font-size: 16px;padding: 30px 4px;}
    .information{padding:10px 0;}
    .information ul li { font-size: 20px; margin: 0px 4px;}
    .newsletter-bg{    padding: 75px 0;}
    .newsletter h2{    font-size: 40px;}
    .newsletter a {font-size: 15px;}
    .categories {padding: 55px 0;}
    .category-bg-2{  margin: 40px 0;}
    .article-4 span {font-size: 50px;}
    .article-4 h2 {font-size: 32px;margin: 55px 0 22px;}
    .article-4 p {font-size: 16px;text-align: left;line-height: 34px;padding: 16px 12px;}
    .article-4 a { margin-left: 10px;}
    .last-rectangle-bg {background-position-x: 129px;background-position-y: 460px;}   
    footer p {font-size: 16px;text-align: center;padding: 36px 10px;line-height: 34px;} 
    footer ul li {font-size: 20px;margin: 0px 4px;line-height: 39px;}
}